

::-webkit-scrollbar
{
  width: 10px;
}


::-webkit-scrollbar-track
{
  background: #f1f1f1; 
}
 

::-webkit-scrollbar-thumb
{
  background: #05000D ; 
  border-radius:5px;
}

::-webkit-scrollbar-thumb:hover
{
	cursor: pointer !important;
	background: #031152; 
}